<!-- Navbar -->
<nav class="navbar navbar-expand-lg" style="background-color:white">
    <a class="navbar-brand logoNav" href="#">
        <img alt="Logo" src="/Images/logopt.jpg" style="max-width:65%;" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li>
                <a class="nav-link textNavbar" routerLink="/">
                    <i class="fa-solid fa-house"></i>Trang chủ
                </a>
            </li>
            <li>
                <a class="nav-link textNavbar" routerLink="sản-phẩm">
                    <i class="fa-solid fa-laptop"></i>Laptop mới
                </a>
            </li>
            <li>
                <a class="nav-link textNavbar" routerLink="sản-phẩm">
                    <i class="fas fa-truck"></i>Tra cứu đơn hàng
                </a>
            </li>

            <form class="d-flex"
                style="margin:auto">
                <input class="form-control me-2" name="searchString" style="width:280px" type="search"
                    placeholder="Bạn muốn tìm sản phẩm gì?" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <li>
                <a class="nav-link textNavbar" routerLink="sản-phẩm">
                    <i class="fa-solid fa-newspaper"></i>Tin tức, khuyến mại
                </a>
            </li>

            <form class="d-flex">
                <li>

                    <a class="nav-link textNavbar" routerLink="giỏ-hàng">
                        <i class="fas fa-cart-plus"></i>Giỏ hàng
                    </a>

                </li>
                <a class="nav-link btnDangKy" id="resgisterLink">
                    <span class="textDangKy">Đăng ký</span>
                </a>
                <a class="nav-link btnDangNhap" id="loginLink">
                    <span class="textDangNhap">Đăng nhập</span>
                </a>
            </form>

        </ul>
    </div>
</nav>