<!-- <div class="container">
    <form class="example-form" [formGroup]="inforForm">
<div class="row">
    <div class="col-md-8 col-sm-8">
        <mat-form-field class="example-full-width">
            <mat-label>Họ và tên</mat-label>
            <input matInput formControlName="fullName">
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
            <mat-label>Số điện thoại</mat-label>
            <input type="number" matInput formControlName="phoneNumber">
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <textarea matInput placeholder="Ex. 100 Main St" formControlName="address">1600 Amphitheatre Pkwy</textarea>
        </mat-form-field>
    </div>
    <div class="col-md-4 col-sm-4">
        <mat-form-field class="example-full-width">
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
    </div>
   
</div>
</form>
<button type="submit" mat-raised-button color="primary" (click)="datHang()">Save</button>
</div> -->