<nav  class="navbar navbar-expand-lg" style="background-color:white">
    <a class="navbar-brand logoNav" routerLink="#">
        <img alt="Logo" src="/Images/logopt.jpg" style="max-width:65%;" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li>
                <a class="nav-link textNavbar" routerLink="/s">
                    <i class="fa-solid fa-house"></i>Trang chủ
                </a>
            </li>
            <li>
                <a class="nav-link textNavbar" routerLink="/sản-phẩm">
                    <i class="fa-solid fa-laptop"></i>Laptop mới
                </a>
            </li>
            <li>
                <a class="nav-link textNavbar" routerLink="/hóa-đơn">
                    <i class="fas fa-truck"></i>Tra cứu đơn hàng
                </a>
            </li>

            <form asp-controller="ProductDetail" asp-action="ShowListProductDetail" method="get" class="d-flex"
                style="margin:auto">
                <input class="form-control me-2" name="searchString" style="width:280px" type="search"
                    placeholder="Bạn muốn tìm sản phẩm gì?" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <li>
                <button [matMenuTriggerFor]="lvl1master" mat-button>Hình ảnh</button>
                <mat-menu #lvl1master="matMenu">
                    <button [matMenuTriggerFor]="company" mat-menu-item>Company</button>
                    <button [matMenuTriggerFor]="customer" mat-menu-item>Customer</button>
                    <button [matMenuTriggerFor]="product" mat-menu-item>Product</button>
                </mat-menu>
            </li>
            <li>

                <a class="nav-link textNavbar" routerLink="/cart">
                    <i class="fas fa-cart-plus"></i>Giỏ hàng
                </a>

            </li>
            <li>
                <a routerLink="" mat-raised-button color="accent">Đăng nhập</a>
                <button (click)="badgevisibility()" mat-icon-button>
                    <mat-icon matBadgeColor="accent" matBadge="15" [matBadgeHidden]="badgevisible"
                        matBadgeSize="small">notifications</mat-icon>
                </button>
            </li>
        </ul>
    </div>
</nav>
<mat-menu #company="matMenu">
    <button mat-menu-item>Term</button>
    <button mat-menu-item>Tax</button>
    <button mat-menu-item>Currency</button>
</mat-menu>
<mat-menu #customer="matMenu">
    <button mat-menu-item>Type</button>
    <button mat-menu-item>Tax</button>
</mat-menu>
<mat-menu #product="matMenu">
    <button mat-menu-item>Category</button>
    <button mat-menu-item>UOM</button>
</mat-menu>
