<div class="row">
    <div class="col-md-8 col-sm-8">
        <mat-form-field class="example-full-width">
            <mat-label>Họ và tên</mat-label>
            <input matInput formControlName="fullName">
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
            <mat-label>Số điện thoại</mat-label>
            <input type="number" matInput formControlName="phonenumber">
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
        </mat-form-field>
    </div>
    <div class="col-md-4 col-sm-4">
        <mat-form-field class="example-full-width">
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
    </div>
   
</div>
<form class="example-form" [formGroup]="inforForm">
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td><mat-form-field class="example-full-width">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="Ex. San Francisco">
                </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
                    <mat-label>State</mat-label>
                    <input matInput placeholder="Ex. California">
                </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
                    <mat-label>Postal Code</mat-label>
                    <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
                    <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                </mat-form-field></td>
        </tr>
    </table>
</form>
<button type="submit" mat-raised-button color="primary" (click)="datHang()">Save</button>